.pricingButton{
    width: 150px;
    height: 40px;
    padding: 0 5px;
    padding-top: 1px;
    background-color: rgb(0, 105, 200);
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 5px #bbb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    .dollar{
        font-family: JetBrainsMono-Regular;
        font-size: .9rem;
        margin-right: 2px;
    }
    .price{
        font-size: 1.2rem;
    }
}
.pricingButton:hover,
.acceptButton:focus{
    background-color: rgb(0, 90, 180);
}
.pricingButton:active{
    background-color: rgb(0, 80, 160);
}
.pricingButton.purchased{
    width: 130px;
    background-color: rgb(0, 170, 70);
}

#pricingModal{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s ease, opacity 0.2s ease;
    z-index: 10;
    > .window{
        width: 90%;
        max-width: 400px;
        height: 90%;
        max-height: 530px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%);
        border-radius: 10px;
        padding: 20px 20px 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        transition: bottom 0.2s ease;
        overflow-y: auto;
        > .close{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: transparent;
            background: transparent url(../../public/close.svg) no-repeat center / 20px auto;
            transition: all 0.2s ease;
            position: absolute;
            top: 5px;
            left: 5px;
        }
        > .close:hover,
        > .close:focus{
            background-color: #f0f0f0;
        }
        > .close:active{
            background-color: #e8e8e8;
        }
        > .container{
            width: 100%;
            max-width: 330px;
            height: 100%;
            max-height: 460px;
            display: flex;
            flex-direction: column;
            
            > .header{
                display: flex;
                flex-direction: column;
                align-items: center;
                > .itIsNotFree{
                    margin: 0;
                    color: #999;
                    text-align: center;
                    > .not{
                        font-weight: bold;
                    }
                }
                > .buyAIV{
                    margin: 0;
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #444;
                    text-align: center;
                }
                > .priceText{
                    width: fit-content;
                    padding: 2px 10px;
                    margin: 0;
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #444;
                    text-align: center;
                    border-radius: 2px;
                    background-color: rgb(150, 250, 20);
                    > .dollar{
                        font-family: JetBrainsMono-Regular;
                        font-size: 1.1rem;
                        margin-right: 2px;
                    }
                    > .price{
                        font-size: 1.5rem;
                    }
                }
            }

            
            > .bottomArea{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 30px;

                > .featuresWrapper{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    > .featureItem{
                        margin: 0;
                        padding-left: 30px;
                        color: #333;
                        background: transparent url(../../public/check.svg) no-repeat left 2px / 20px auto;
                        > .dollar{
                            font-family: JetBrainsMono-Regular;
                            font-size: .9rem;
                            margin-right: 1px;
                        }
                        > .price{
                            font-size: 1.1rem;
                        }
                    }
                }
                > .buttonWrapper{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 35px;
                    > .buyButton{
                        width: 170px;
                        height: 40px;
                        background-color: rgb(0, 105, 200);
                        color: white;
                        font-size: 1.2rem;
                        border-radius: 7px;
                        transition: background-color 150ms ease;
                    }
                    > .buyButton:hover,
                    > .buyButton:focus{
                        background-color: rgb(0, 90, 180);
                    }
                    > .buyButton:active{
                        background-color: rgb(0, 80, 160);
                    }
                }
                > .note{
                    margin: 0;
                    margin-top: 10px;
                    font-size: .9rem;
                    color: #aaa;
                    text-align: center;
                }
            }
        }
    }
}

//show:
#pricingModal.visible{
    visibility: visible;
    opacity: 1;
    > .window{
        bottom: 0;
    }
}

@media screen and (max-height: 850px){
    #pricingModal{
        > .window{
            transform: translate(-50%, -50%);
        }
    }
}