@media (hover: hover) and (pointer: fine) {
  .thinScrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .thinScrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .thinScrollbar::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 20px;
  }
  .darkMode .thinScrollbar::-webkit-scrollbar-thumb {
    background: #555;
  }
}
.hiddenScrollbar::-webkit-scrollbar, .imageViewer > .container > .footer > .thumbnailsWrapper::-webkit-scrollbar, .imageViewer > .container > .imagesWrapper > .imageContainer::-webkit-scrollbar, .imageViewer > .container > .imagesWrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.transparentBackground {
  transition: background-color 50ms;
}

.transparentBackground:enabled:active {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

@media (hover: hover) and (pointer: fine) {
  .transparentBackground {
    transition: background-color 150ms;
  }
  .transparentBackground:enabled:hover {
    background-color: rgba(0, 0, 0, 0.03) !important;
  }
  .transparentBackground:enabled:focus {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
  .transparentBackground:enabled:active {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }
}
.transparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkTransparentBackground, .imageViewer > .container > .arrowButton, .imageViewer > .container > .toolbar > .defaultButton,
.imageViewer > .container > .toolbar > .customButton {
  transition: background-color 50ms;
}

.darkTransparentBackground:enabled:active, .imageViewer > .container > .arrowButton:enabled:active, .imageViewer > .container > .toolbar > .defaultButton:enabled:active,
.imageViewer > .container > .toolbar > .customButton:enabled:active {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

@media (hover: hover) and (pointer: fine) {
  .darkTransparentBackground, .imageViewer > .container > .arrowButton, .imageViewer > .container > .toolbar > .defaultButton,
.imageViewer > .container > .toolbar > .customButton {
    transition: background-color 150ms;
  }
  .darkTransparentBackground:enabled:hover, .imageViewer > .container > .arrowButton:enabled:hover, .imageViewer > .container > .toolbar > .defaultButton:enabled:hover,
.imageViewer > .container > .toolbar > .customButton:enabled:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .darkTransparentBackground:enabled:focus, .imageViewer > .container > .arrowButton:enabled:focus, .imageViewer > .container > .toolbar > .defaultButton:enabled:focus,
.imageViewer > .container > .toolbar > .customButton:enabled:focus {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
  .darkTransparentBackground:enabled:active, .imageViewer > .container > .arrowButton:enabled:active, .imageViewer > .container > .toolbar > .defaultButton:enabled:active,
.imageViewer > .container > .toolbar > .customButton:enabled:active {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
}
.darkTransparentBackground:disabled, .imageViewer > .container > .arrowButton:disabled, .imageViewer > .container > .toolbar > .defaultButton:disabled,
.imageViewer > .container > .toolbar > .customButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.coloredBackground {
  opacity: 0.8;
}

.coloredBackground:enabled:active {
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  .coloredBackground:enabled:hover {
    opacity: 0.85;
  }
  .coloredBackground:enabled:focus {
    opacity: 0.9;
  }
  .coloredBackground:enabled:active {
    opacity: 1;
  }
}
.coloredBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

.transparentBackground_dark {
  transition: background-color 50ms;
}

.transparentBackground_dark:enabled:active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

@media (hover: hover) and (pointer: fine) {
  .transparentBackground_dark {
    transition: background-color 150ms;
  }
  .transparentBackground_dark:enabled:hover {
    background-color: rgba(255, 255, 255, 0.12) !important;
  }
  .transparentBackground_dark:enabled:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
  .transparentBackground_dark:enabled:active {
    background-color: rgba(255, 255, 255, 0.07) !important;
  }
}
.imageViewer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index: 999999993;
}
.imageViewer * {
  padding: 0;
  margin: 0;
  font-family: Catamaran-Medium;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
.imageViewer a::-moz-focus-inner,
.imageViewer input::-moz-focus-inner,
.imageViewer button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.imageViewer a {
  text-decoration: none;
  outline: none;
}
.imageViewer input, .imageViewer button, .imageViewer select {
  border: none;
  outline: none;
}
.imageViewer input[type=button], .imageViewer button, .imageViewer select {
  cursor: pointer;
}
.imageViewer input:required,
.imageViewer input:invalid {
  box-shadow: none;
}
.imageViewer input[type=button], .imageViewer button {
  font-size: 1rem;
  padding: 0;
  background: none;
}
.imageViewer > .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 160ms ease-in-out;
}
.imageViewer > .container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.imageViewer > .container > .imagesWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 100px;
  overflow: hidden;
}
.imageViewer > .container > .imagesWrapper > .imageContainer {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  cursor: default;
}
.imageViewer > .container > .imagesWrapper > .imageContainer > .image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  cursor: pointer;
}
.imageViewer > .container > .imagesWrapper .stretch > .image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.imageViewer > .container > .imagesWrapper .zoom {
  display: inline;
}
.imageViewer > .container > .imagesWrapper .zoom > .image {
  max-width: unset;
  max-height: unset;
  margin-bottom: -20px;
}
.imageViewer > .container > .toolbar {
  width: 55px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.imageViewer > .container > .toolbar > * {
  transition: opacity 200ms ease-in-out;
}
.imageViewer > .container > .toolbar > .defaultButton,
.imageViewer > .container > .toolbar > .customButton {
  width: 100%;
  height: 55px;
  display: flex;
}
.imageViewer > .container > .toolbar > .defaultButton {
  justify-content: center;
  align-items: center;
}
.imageViewer > .container > .toolbar > .defaultButton > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageViewer > .container > .toolbar > .zoomOutButton {
  display: none;
}
.imageViewer > .container > .toolbar > .customButton {
  background-size: 19px auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.imageViewer > .container > .arrowButton {
  width: 80px;
  height: calc(100% - 300px);
  min-height: 100px;
  max-height: 160px;
  display: flex;
  color: #aaa;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: opacity 200ms ease-in-out;
}
.imageViewer > .container > .arrowButton > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageViewer > .container > .leftButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
}
.imageViewer > .container > .rightButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
}
.imageViewer > .container > .footer {
  width: auto;
  max-width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  gap: 8px;
  transition: opacity 200ms ease-in-out;
}
.imageViewer > .container > .footer > .description {
  padding: 2px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  color: #fafafa;
  border-radius: 2px;
}
.imageViewer > .container > .footer > .description:empty {
  display: none;
}
.imageViewer > .container > .footer > .thumbnailsWrapper:empty {
  display: none;
}
.imageViewer > .container > .footer > .thumbnailsWrapper {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  overflow: hidden;
  display: flex;
  gap: 12px;
}
.imageViewer > .container > .footer > .thumbnailsWrapper > .thumbnailContainer > .thumbnail {
  width: auto;
  height: calc(100% - 10px);
  border: solid 3px transparent;
  border-radius: 3px;
  cursor: pointer;
}
.imageViewer > .container > .footer > .thumbnailsWrapper > .thumbnailContainer > .selected {
  border-color: white;
}

.imageViewer.hudOpacity > .container > .toolbar > *,
.imageViewer.hudOpacity > .container > .arrowButton,
.imageViewer.hudOpacity > .container > .footer {
  opacity: 0;
}

.imageViewer.hudDisplay > .container > .toolbar > *,
.imageViewer.hudDisplay > .container > .arrowButton,
.imageViewer.hudDisplay > .container > .footer {
  display: none;
}

.imageViewer.halfHud > .container > .toolbar > .closeButton,
.imageViewer.halfHud > .container > .toolbar > .zoomOutButton {
  opacity: 1;
  display: flex;
}
.imageViewer.halfHud > .container > .toolbar > .zoomInButton {
  opacity: 0;
  display: none;
}

.imageViewer.visible {
  visibility: visible;
}
.imageViewer.visible > .shadow,
.imageViewer.visible > .container {
  opacity: 1;
}

@media (max-width: 450px) {
  .imageViewer > .container > .toolbar {
    width: auto;
    height: 50px;
    flex-direction: row-reverse;
  }
  .imageViewer > .container > .toolbar > .defaultButton,
.imageViewer > .container > .toolbar > .customButton {
    width: 50px;
    height: 100%;
  }
  .imageViewer > .container > .arrowButton {
    width: 65px;
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .imageViewer > .container > .toolbar {
    width: auto;
    height: 50px;
    flex-direction: row-reverse;
  }
  .imageViewer > .container > .toolbar > .defaultButton,
.imageViewer > .container > .toolbar > .customButton {
    width: 50px;
    height: 100%;
  }
  .imageViewer > .container > .footer {
    bottom: 5px;
  }
}/*# sourceMappingURL=imageViewer.css.map */