@import "utils";

.imageViewer{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    visibility: hidden;
    z-index: 999999993;
    *{
        padding: 0;
        margin: 0;
        font-family: Catamaran-Medium;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
    }
    a::-moz-focus-inner,
    input::-moz-focus-inner,
    button::-moz-focus-inner{
        border:0;
        padding:0;
    }
    a{
        text-decoration:none;
        outline:none;
    }
    input, button, select{
        border:none;
        outline:none;
    }
    input[type="button"], button, select{
        cursor: pointer;
    }
    input:required,
    input:invalid{
        box-shadow:none;
    }
    input[type="button"], button{
        font-size: 1rem;
        padding:0;
        background:none;
    }
    > .shadow{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        opacity: 0;
        transition: opacity 160ms ease-in-out;
    }
    > .container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        > .imagesSlider{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: scroll;
            @extend .hiddenScrollbar;
            > .imagesWrapper{
                width: fit-content;
                height: 100%;
                display: flex;
                gap: 100px;
                > .imageContainer{
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    > .image{
                        width: auto;
                        max-width: 100%;
                        height: auto;
                        max-height: 100%;
                    }
                }
            }
        }
        > .toolbar{
            width: 55px;
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
            > .closeButton{
                @extend .darkTransparentBackground;
                width: 100%;
                height: 55px;
                border-bottom-left-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                > div{
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            > .customButton{
                @extend .darkTransparentBackground;
                width: 100%;
                height: 55px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-size: 18px auto;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        > .arrowButton{ display: none;
            // @extend .darkTransparentBackground;//todo
            width:100px;
            height: calc(100% - 200px);
            background-color: rgba(0,0,0,0.15);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px auto;
            border-bottom-left-radius: 3px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            transition: background-color 400ms;
        }.hide{
            background-color: transparent;
            background-image: none !important;
            cursor: none;
        }
        > #rightButton{
            // background-image: url(../../assets/Arrow_LTR_AA.svg);
            right: 0;
        }
        > #leftButton{
            // background-image: url(../../assets/Arrow_RTL_AA.svg);
            left: 0;
        }
        > #footer{  display: none;
            width: 100%;
            height: auto;
            float: left;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -17px);
            > #noteContainer{
                width: 100%;
                height: auto;
                float: left;
                > #noteText{
                    width: auto;
                    padding: 8px;
                    height: auto;
                    margin: 0;
                    background-color: rgba(0,0,0,0.7);
                    font-size: 1.1em;
                    color: rgb(245,245,245);
                    border-radius: 2px;
                    float: left;
                    position: relative;
                    left: 50%;
                    top:0;
                    transform: translate(-50%, 0);
                }
            }
            > #thumbnailContainer{  display: none;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                height: 75px;
                margin-top: 8px;
                float: left;
                > #thumbnailBar{
                    width: auto;
                    height: 100%;
                    float: left;
                    position: relative;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, 0);
                    overflow-x: auto;
                    > .thumbnailButton{
                        width: auto;
                        height: 100%;
                        border: solid 4px transparent;
                        float: left;
                        > div{
                            width: auto;
                            height: 100%;
                            background-color: rgb(100,100,100);
                            border-radius: 3px;
                            float: left;
                            > img{
                                width: auto;
                                height: 100%;
                                border-radius: 3px;
                                float: left;
                                opacity: 0.7;
                            }
                        }
                    }
                    > .selected{
                        border: none;
                        > div{
                            > img{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.imageViewer.visible{
    visibility: visible;
    > .shadow,
    > .container{
        opacity: 1;
    }
}


















//responsive:
// @media (orientation: portrait){
//     .ImageLoader{
//         > #toolBar{
//             width: auto;
//             height: 50px;
//             > #closeButton,
//             > #editButton,
//             > #deleteButton{
//                 width: 50px;
//                 height: 100%;
//                 margin-bottom: 0;
//                 margin-left: 5px;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 1000px){
//     .ImageLoader{
//         > .arrowButton{
//             width: 85px;
//         }
//     }
// }

// @media only screen and (max-width: 700px){
//     .ImageLoader{
//         > .arrowButton{
//             width: 70px;
//         }
//     }
// }

// @media only screen and (max-width: 550px){
//     .ImageLoader{
//         > .arrowButton{
//             width: 60px;
//         }
//     }
// }

// @media only screen and (max-height: 650px){
//     .ImageLoader{
//         > #imageFooter{
//             transform: translate(-50%, -6px);
//         }
//     }
// }

// @media only screen and (max-height: 550px){
//     .ImageLoader{
//         > #imageFooter{
//             transform: translate(-50%, -3px);
//         }
//     }
// }